samples/src/OnlineDemos/Pets/PetsClient/Connected Services/ServiceReference1/PetService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pet" nillable="true" type="tns:Pet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPet" nillable="true" type="tns:ArrayOfPet" />
  <xs:complexType name="Pet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pet" nillable="true" type="tns:Pet" />
</xs:schema>